.backImage{
     background-image: url(Backdrop.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 100vh;
}


h2{
     font-family: Montsterrat, sans-serif;
     font-size: 20px;
     font-weight: 700;
     height: auto;
}


.inputcontainer{
     width: 80%;
     max-width: 500px;
}



@media (max-width: 768px) {
  .backImage {
    background-position: top;
    padding: 10px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 14px !important;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .backImage {
    padding: 10px;
  }

  h2 {
    font-size: 16px;
  }

  p {
    font-size: 13px !important;
    text-align: center;
  }
}

