.background{
   
   width: 1365px;
   height: 400px;
   background-repeat: no-repeat;
   background-position: center;
   background-image:  url(background.png.png);
   position: relative;
}


.nameHotel{
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100px;
    background-color: white;
    z-index: 100;
    justify-content: center;
}