.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    height: 8vh;
    align-items: center;
}

.logo{
    margin-left:60px;
    margin-top: 10px;
}

.login_button{
    width: 130px;
    height: 40px;
    margin-top: 15px;
    color: #662D91;
    background-color: white;
    border-radius: 8px;
     border: 1px solid;
    border-color: #662D91;
    font-size: 16px;
    margin-right: 40px;
    font-family: Montsterrat, sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.IconReview{
   
    display: flex;
     /* display: none; */
     margin-right: 40px;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    gap: 20px;
}

.Review{
    display: flex;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background-color: #662D91;
}

.rate{
    color: white;
    font-weight: 600;
    font-family: 'Montsterrat', sans-serif;
    font-size: 16px;
}

.icon{
    width: 25px;
    height: 25px;
}

