@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&display=swap');

.text_4xl{
  font-size: 60px;
  color: white;
  font-family: 'Brygada-1918';
  width: fit-content;
  height: fit-content;
  font-weight: 700;
  text-align: center;
  
}

.mt_4{
  font-size: 20px;
  color: white;
  font-family: Montsterrat, sans-serif;
  font-weight: 600;
}

.text_center{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 120px;
}

.text-lg{
  font-size: 20px;
  color: white;
}

.mt_8{
  width: 710px;
  height: 55px;
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;

}

.inputStyle{
  height: 40px;
  width: 400px;
  color: #BEBEBE;
  border: none;
  font-family: Montsterrat, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.searchButton{
  width: 140px;
  height: 35px;
  background-color: #662D91;
  border-color: #662D91 ;
  border: 1px;
  border-radius: 10px;
  color: white;
  margin-right: 10px;
  font-size: 16px;
  font-family: Montsterrat, sans-serif;
  font-weight: 600;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Սեւ գույն, 50% թափանցիկությամբ */
  z-index: 1;
}

.search_icon{
  color: #C4C4C4;
  margin-left: 20px;
}

.search_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.full_screen {
  background:
    linear-gradient(rgba(0, 0, 0, 0.7)),
    url("images/background.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
